@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes pulseGlow {
  0% { opacity: .7; }
  50% { opacity: 1; }
  100% { opacity: .7; }
}

@keyframes lightning {
  0%,
  100% { opacity: .4; }
  50% { opacity: 1; }
}