<app-header [message]="headerMessage" />
<section class="home">
  <main class="home__content">
    <h1 class="home__title">Heroes<span>Or</span></h1>
    <h2 class="henchmen">Henchmens</h2>
    <span class="home__subtitle">De que lado você está?</span>
    <button class="home__button" (click)="startQuiz()">INICIAR JORNADA</button>
  </main>
</section>
<app-codex [codex]="codex"/>
<app-achievement [achievement]="achievements[0]"/>
<section class="artifact-test">
  <app-artifact-viewer [size]="520">
    <img
      src="assets/branding/glyphs/prism.svg"
      class="artifact-test__prism"
      alt="Primordial Prism"
    />
  </app-artifact-viewer>
</section>
<app-footer [message]="footerMessage" />