.home {
  min-height: 100vh;
  background-image: 
    linear-gradient(rgba(0,0,0,.90), rgba(0, 0, 0, 0.95)), 
    url('/assets/images/heroes.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  margin-bottom: var(--space-sm);
}

.home__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--hero-secondary);
  margin-top: var(--space-md);
  gap: var(--space-2xl);
  line-height: .9;
}

.home__title span {
  color: var(--white);
  font-size: var(--text-xl);
  font-weight: 800;
}

.henchmen {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--hench-secondary);
  font-size: var(--text-5xl);
  font-family: var(--font-heading);
}

.home__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--viral-primary);
  font-size: var(--text-xl);
  font-weight: 700;
}

.home__button {
  align-self: center;
  padding: var(--space-md) var(--space-xl);
  background: var(--viral-primary);
  color: var(--black);
  border: 4px solid var(--black);
  box-shadow: var(--shadow-card);
  cursor: pointer;
  font-family: var(--font-heading);
  font-size: var(--text-2xl);
  transition: .2s ease;
}

.home__button:hover {
  transform: translate(-3px, -3px);
}