@use '../../  styles/abstracts' as *;

.quiz {
  @include page-background(var(--quiz-background));
  @include page-layout;
  min-height: calc(var(--viewport-height) - var(--header-height) - var(--footer-height));
}

.quiz__content {
  @include flex-column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
}

.quiz__card {
  @include page-card;
}

.quiz__card-button {
  @include brutal-button;
  padding: var(--space-md);
  border-color: var(--success);
  border-radius: var(--radius-md);
  background-color: var(--bg-card);
  color: var(--warning);
  font-weight: 700;
}