body {
  background: var(--bg-primary);
  color: var(--white);
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

.container {
  width: min(1200px, 90%);
  margin-inline: auto;
}

.hero-text {
  color: var(--hero-primary);
}

.hench-text {
  color: var(--hench-primary);
}

.viral-text {
  color: var(--viral-primary);
}