/* BODY */
body {
  background: var(--bg-primary);
  color: var(--white);
  overflow-x: hidden;
}

/* MAIN */
main {
  min-height: var(--viewport-height);
}

/* CONTAINER */
.container {
  width: min(var(--container-width), var(--container-fluid-width));
  margin-inline: auto;
}
